<div class ="ready">
	<div>
     	<select id="countries">
 		{{#each heat}}
 
     		
		  <option value="{{this.CODE}}">{{this.NAME}}</option>
		  
		
  		{{/each}} 
  		</select>
        
	</div>
</div>
<div id="chart_div"><!-- Plotly chart will be drawn inside this DIV --></div>
<script>
	$('#countries').val("USA");
	var trace;
	var layout = {
		title: 'Anual Average Temperature',
		xaxis: {
			title: 'Year'
		},
		yaxis: {
			title: 'Average Temperature'
		}
	};

	
	$.getJSON("/api/USA" ,addData);

	function addData(data){
		var arr = data.heat;
		var x = [];
		var y = [];
		for(var i = 0; i < arr.length; i++){
			x.push(arr[i].YEAR);
			y.push(arr[i].DATA);
		}
		trace = {
			"x": x,
			"y": y,
			type: 'scatter',
			mode: 'lines+markers',
			name: 'Anual Average Temperature'
		}
		var data = [trace];
		Plotly.newPlot('chart_div', data, layout);
	}

	$( "#countries" ).change(function() {
	  $.getJSON("/api/" + $('#countries').val(),addData);
	});
</script>
